x-node-base: &node-base
  image: "accounts:dev-dynalloc"
  command:
    - run
  environment: &node-env
    SYSTEM_NAME: Accounts
    PORT: 50051
    DISCOVERY_PORT: 3322
    PEERS_PORT: 3320
    REMOTING_PORT: 50052
    LOG_LEVEL: "debug"
  expose:
    - "50051"
    - "50052"
    - "3322"
    - "3320"
  networks:
    - cluster
  restart: unless-stopped

services:
  lb:
    image: "nginx:1.27-alpine"
    hostname: lb
    ports:
      - "9000:50051"
    volumes:
      - "./nginx.conf:/etc/nginx/nginx.conf:ro"
    depends_on:
      - node0
      - node1
      - node2
      - node3
      - node4
    networks:
      - cluster
    restart: unless-stopped

  node0:
    <<: *node-base
    hostname: node0
    ports:
      - "8000:50051"
    environment:
      <<: *node-env
      SERVICE_NAME: node0
      DISCOVERY_HOSTS: "node1:3322,node2:3322,node3:3322,node4:3322"

  node1:
    <<: *node-base
    hostname: node1
    ports:
      - "8001:50051"
    environment:
      <<: *node-env
      SERVICE_NAME: node1
      DISCOVERY_HOSTS: "node0:3322,node2:3322,node3:3322,node4:3322"

  node2:
    <<: *node-base
    hostname: node2
    ports:
      - "8002:50051"
    environment:
      <<: *node-env
      SERVICE_NAME: node2
      DISCOVERY_HOSTS: "node0:3322,node1:3322,node3:3322,node4:3322"

  node3:
    <<: *node-base
    hostname: node3
    ports:
      - "8003:50051"
    environment:
      <<: *node-env
      SERVICE_NAME: node3
      DISCOVERY_HOSTS: "node0:3322,node1:3322,node2:3322,node4:3322"

  node4:
    <<: *node-base
    hostname: node4
    ports:
      - "8004:50051"
    environment:
      <<: *node-env
      SERVICE_NAME: node4
      DISCOVERY_HOSTS: "node0:3322,node1:3322,node2:3322,node3:3322"

networks:
  cluster:
    name: goakt-dynalloc-cluster
